* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
    text-align: center;
}

ul{
    display: flex;
    list-style: none;
}
li{
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    background: #a5fde0;
    margin: 0 5px 0 5px;
}
a{
    text-decoration: none;
    color: rgb(0, 58, 58);
   
}
li:hover{
    color: #ffffff;
    background: rgb(0, 58, 58);
    transition: .5s;
}
li:hover a{
    color: white
}

h1 {
    color: #00ffaa;
    font-size: 35px;
}
h2{
    color: #00ff2a;
    font-size: 25px;
}

#firstdiv {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#innerdiv {
    background: white;
    width: 80%;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.329);
    text-align: center;
    display: flex;
    overflow: hidden
    ;

}

marquee {
    background: #a5fde0;
    color: #006b20;

}

#innerdiv div {
    width: 50%;
    text-align: left;
}

.text-div {
   display: flex;
   align-items: center;
   justify-content: center;
   
}

.img-div {
    width: 50%;
    height: 100vh;
    background-size: contain;
    overflow: hidden;
}

.image-div img {
    width: 100%;
    height: 100%;
}
p{
    font-weight: lighter;
}